.nmmpy2p {
  background: #ffffff;
  padding-block-start: 20px;
  position: sticky;
  top: calc( 80px - 20px );
  width: 100%;
  z-index: 9;
  height: 98px;
  contain-intrinsic-height: 98px;
}

.nmmpy2p::after {
  right: 0;
  left: 0;
  box-shadow: none;
  transition: box-shadow 0.2s cubic-bezier(0.2,0,0,1);
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.c167ogxp {
  margin-inline: auto;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
  max-width: 2520px;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.c119o44h {
  flex-grow: 1;
}
.c1yo0219::after,
.c1yo0219::before {
  display: flex;
  content: '';
}
.c1yo0219 > div {
  display: contents;
}
.w1nwvqds {
  background-color: #ffffff;
}
.w1nwvqds::after {
  left: 0;
  right: 0;
  box-shadow: unset;
  transition: box-shadow 0.2s cubic-bezier(0.2,0,0,1);
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.c1hzbei0 {
  max-height: 78px;
  display: grid;
  grid-template-columns: 100%;
}
.c1hzbei0 > :nth-child(n) {
  grid-area: 1 / 1 / 2 / 2;
}
.e1re8i3w {
  width: 100%;
  height: 78px;
}
.s19omyoi {
  position: relative;
}
.cbdpsi8 {
  display: grid;
  overflow: clip;
  grid-template-columns: minmax(0,1fr);
}
.cbdpsi8 > :nth-child(n) {
  grid-area: 1 / 1 / -1 / -1;
  height: 100%;
}
.rd7fm2t {
  display: grid;
  grid-template:
      'header'
      'scroller'
      'footer' / minmax(0,1fr);
}
.db9tcim {
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: clip;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.c18vjgz6 {
  margin-inline-start: unset;
  margin-inline-end: unset;
  grid-area: scroller;
  margin-block-start: unset;
  margin-block-end: unset;
  place-self: stretch start;
  z-index: 1;
}
.atm_uv_1kebd6b {
  transition-timing-function: cubic-bezier(0.2,0,0,1);
  background-image: linear-gradient(to left,rgb(255 255 255/0),white 40px);
  align-items: center;
  position: absolute;
  pointer-events: none;
  display: flex;
  height: 100%;
  visibility: hidden;
}
.atm_uv_1kebd6b::after {
  display: block;
  content: '';
  width: 40px;
  height: 100%;
}
.atm_2d_1hbpp16 {
  background-color: #ffffff;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: box-shadow 0.2s cubic-bezier(0.2,0,0,1);
  appearance: none;
  touch-action: manipulation;
  pointer-events: all;
  height: 28px;
  width: 28px;
  display: inline-flex;
  color: buttontext;
  outline: 0;
}
.atm_2d_1hbpp16 > span > svg {
  display: block;
  fill: none;
  height: 12px;
  width: 12px;
  stroke: currentcolor;
  stroke-width: 5.33333;
  overflow: visible;
}
.s1yvqyx7 {
  margin-inline-start: 0;
  margin-inline-end: 20px;
  padding: 0;
  grid-area: scroller;
  margin-block-start: unset;
  margin-block-end: unset;
  place-self: auto;
}
.cw9aemg {
  height: 100%;
  min-width: 0;
  position: unset;
}
.c14whb16 {
  margin: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 32px;
  grid-template-rows: none;
  grid-template-areas: none;
  justify-content: flex-start;
  overflow: auto hidden;
  overscroll-behavior-inline: contain;
  padding-block-start: unset;
  padding-block-end: unset;
  scroll-padding-inline: 0 24px;
  touch-action: pan-x pan-y pinch-zoom;
}
.c14whb16 > :nth-child(n) {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}
.c39h6gc {
  background-color: unset;
  cursor: default;
  text-align: center;
  border-radius: 8px;
  border: unset;
  padding: 4px 0 4px;
  margin: 12px 0 10px;
  transition: color 0.2s cubic-bezier(0.2,0,0,1);
  color: #000000;
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  width: max-content;
  outline: none;
}
.h192l0gc {
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: clip;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  font-family: inherit;
  font-size: 100%;
}
.c1abgzgs {
  display: flex;
  flex-direction: row;
}
.c1ozl2w2 {
  min-width: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.i181yxiv2,
.i181yxiv {
  opacity: 1;
  transition: opacity 200ms cubic-bezier(0.2,0,0,1), transform 200ms cubic-bezier(0.2,0,0,1);
  max-width: 100%;
  width: 24px;
  height: auto;
}
.i181yxiv2 {
  opacity: 0.6425339366515838;
}
.t192ua0c {
  white-space: nowrap;
  position: relative;
}
.t192ua0c.active:after {
  background-color: #000000;
  opacity: 1;
  inset-inline: 0;
  transition: opacity 0.2s cubic-bezier(0.2,0,0,1);
  position: absolute;
  content: '';
  height: 2px;
  top: calc(100% + 12px);
}
.ti7yjx {
  transition: transform 200ms cubic-bezier(0.2,0,0,1);
  display: inline-block;
}
.c1rmt9x7 {
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  background-color: unset;
  border: unset;
  padding: 4px 0 4px;
  margin: 12px 0 10px;
  transition: color 0.2s cubic-bezier(0.2,0,0,1);
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #717171;
  font-weight: 600;
  width: max-content;
  outline: none;
}
.t14s0ksq {
  margin-inline-start: unset;
  margin-inline-end: unset;
  grid-area: scroller;
  margin-block-start: unset;
  margin-block-end: unset;
  place-self: stretch end;
  z-index: 1;
}
.b1tv178t {
  transition-timing-function: cubic-bezier(0.2,0,0,1);
  background-image: linear-gradient(to right,rgb(255 255 255/0),white 40px);
  align-items: center;
  padding-inline-end: 8px;
  position: absolute;
  pointer-events: none;
  display: flex;
  height: 100%;
}
.b1tv178t::before {
  content: '';
  width: 40px;
  height: 100%;
  display: block;
}
.f1wy08xg {
  display: none;
}
.cocjyl3 {
  padding-left: 24px;
}
.b14ijnw4 {
  display: inline-block;
  position: relative;
}
.l1ovpqvx {
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #dddddd;;
  border-radius: 12px;
  margin: 0;
  padding: 7px 0;
  appearance: none;
  display: inline-block;
  outline: 0;
  touch-action: manipulation;
  min-width: 48px;
  height: 48px;
  color: #222222;
}
.i1prp6wh {
  padding-left: 16px;
  padding-right: 16px;
  gap: 8px;
  padding-top: 2px;
  display: grid;
  justify-items: center;
  grid-auto-flow: column;
}
.i1prp6wh > svg {
  display: block;
  height: 14px;
  width: 14px;
  fill: currentColor;
}
.t7zgiao {
  transform: translateY(-1px);
  display: block;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
}
.b597hka {
  right: -4px;
  background: #222222;
  border-radius: 50%;
  border: 1.5px solid #ffffff;
  transition: color 0.2s cubic-bezier(0.2,0,0,1);
  transform: translateY(-1px);
  text-align: center;
  display: none;
  pointer-events: none;
  position: absolute;
  top: -4px;
  width: 20px;
  height: 20px;
}
.n1bnsfy {
  margin-top: 2px;
  font-size: 0.625rem;
  line-height: 0.75rem;
  color: #ffffff;
  font-weight: 800;
}
.p1l8mybd {
  padding-left: 16px;
  flex-shrink: 0;
}
.c1yo0219::after,
.c1yo0219::before {
  display: flex;
  content: '';
}
.c1yo0219 > div {
  display: contents;
}
.c4g05it {
  border-radius: 12px;
  border-color: #dddddd;
  border-width: 1px;
  border-style: solid;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 48px;
}
.tjrryoo {
  flex-grow: 1;
}
.txqi15w {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  color: #222222;
}
.c472klm {
  background-color: #b0b0b0;
  border-color: #b0b0b0;
  border-radius: 32px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  position: relative;
  outline: none;
  min-width: 36px;
  width: 36px;
  height: 24px;
}
.s1yktc2s {
  border-color: #b0b0b0;
  left: -1px;
  border-radius: 50%;
  border-style: solid;
  transform: translate3d(0,0,0);
  background-color: #ffffff;
  border-width: 2px;
  transition: transform 250ms cubic-bezier(0.2,0,0,1);
  position: absolute;
  top: -1px;
  display: flex;
  align-items: center;
  height: 24px;
  width: 24px;
}

@media (hover: hover) {
  .c1rmt9x7:hover {
    color: #000000;
  }
}
@supports (-webkit-scroll-behavior:smooth) or (-moz-scroll-behavior:smooth) or (-ms-scroll-behavior:smooth) or (scroll-behavior:smooth) {
  .c14whb16 {
    scroll-snap-type: none;
  }
}
@supports (aspect-ratio:1 / 1) {
  .awuxh4x {
    aspect-ratio: unset;
  }
}
@media (-webkit-max-device-pixel-ratio: 2) {
  .atm_2d_1hbpp16 {
    border: 0.5px solid rgb(0 0 0/0.3);
  }
}
@supports (overflow-clip-margin:4px) {
  .e1re8i3w {
    contain: strict;
    overflow-clip-margin: 4px;
  }
}

@supports (overflow-clip-margin:1px) {
  .nmmpy2p {
    contain: strict;
    overflow-clip-margin: 4px;
  }
}
@media (min-width: 744px) {
  .e4zy5d {
    display: flex;
  }
  .s19omyoi {
    flex: 1;
  }
  .atm_uv_1kebd6b {
    transition: opacity 0.2s,visibility 0.2s,transform 0.2s;
    padding-inline-start: 0;
    z-index: 1;
  }
  .c1ozl2w2 {
    gap: 8px;
  }
  .b1tv178t {
    right: calc(-1 * 12px);
    transition: opacity 0.2s,visibility 0.2s,transform 0.2s;
    opacity: 1;
    z-index: 1;
  }
  .f1wy08xg {
    flex-basis: fit-content;
    display: grid;
    flex: 0 0 auto;
    min-width: calc(48px + 24px);
    place-items: center;
    position: relative;
  }
}